# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database & Logs
*.db
*.db-journal
*.sqlite
data.db
logs.db
pocketbase/pb_data/
pb_data/
**/pb_data/
err.txt
logs.txt

# Production debris
full_schema_prod.json
links_schema_prod.json

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*.local
